.header{
    height:150px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    position:relative;
}

.logo{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate();
}

.logo img{
    width:130px;
}

.gnb{
    display:flex;
}

.gnb li a{
    display:block;
    padding:25px;
}

.extra a:first-child img{
    width:28px;

}

.extra a:last-child img{
    width:24px;
    
}